<h1>Pop Party!</h1>

<%= link_to"Sell Pops", new_listing_path%>

<ul> 
<% for listing in @listings   %> 
    <li> 
    <%= listing.title %> - <%= number_to_currency(listing.price) %>  
   
    </li>
<% end %>
</ul>