body {
    margin: 0;
    padding: 0;
}


.sign_up_form {
    width:300px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    background: #fff;
    padding:20px;
    margin: 8% auto 0;
    text-align:center;
}

.sign_in_form {
    width:310px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    background: #fff;
    padding:20px;
    margin: 8% auto 0;
    text-align:center;
}

.sign_up_form h2 {
    color: #1c8adb;
    margin-bottom: 20px;
}



.sign_in_form h2 {
    color: #1c8adb;
    margin-bottom: 20px;

}

.forgot_password {
    width:300px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    background: #fff;
    padding:20px;
    margin: 8% auto 0;
    text-align:center;
}

.forgot_password h2 {
    color: #1c8adb;
    margin-bottom: 20px;

}